<form #contactForm="ngForm" class="editForm" novalidate>
        <div class="tab-pane fade in active">
            <h4 class="head text-left">Step 2: Contact Details</h4>
            <div class='row'>
                <div class='col-xs-offset-1 col-sm-offset-2 col-sm-8'>
                    <div class="form-group">
                        <label class="control-label" for="email">Email</label>
                        <input class="form-control input-md" #email="ngModel" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" name="email" id="email" type="text" placeholder="email" [(ngModel)]="contactemail">
                        <div class="alert alert-danger" [hidden]="email.valid">email is required and must be valid</div>
                    </div>
                    <div class="form-group">
                            <label class="control-label" for="mobile">Mobile</label>
                            <input class="form-control input-md" #mobile="ngModel" required name="mobile" id="mobile" type="number" placeholder="mobile" [(ngModel)]="contactmobile">
                            <div class="alert alert-danger" [hidden]="mobile.valid">Mobile is required and must be valid</div>
                    </div>
                    <div class="form-group">
                            <label class="control-label" for="country">Country</label>
                            <input class="form-control input-md" #country="ngModel" required name="country" id="country" type="text" placeholder="country" [(ngModel)]="contactcountry">
                            <div class="alert alert-danger" [hidden]="country.valid">Country is required and must be valid</div>
                    </div>
                        
                    <div class="form-group text-right">
                            <button class="btn btn-outline-rounded btn-default" (click)=" pervious(contactForm)"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
                            <button class="btn btn-success btn-outline-rounded btn-info" [disabled]="!contactForm.valid" (click)="next(contactForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </form>