<div class="main">
    <div class="wizard-container">
        <h3>Profile Wizard</h3>
        <div class="wizard-route">
          <a routerLink="personal"><span class="stepper" [ngStyle]="{'background-color': currentModule === 'personal'? 'rgb(71, 189, 35)' : 'grey' }">1</span>Personal Details</a>
          <a routerLink="contact"><span class="stepper" [ngStyle]="{'background-color': currentModule === 'contact'? 'rgb(71, 189, 35)' : 'grey' }">2</span>Contact Details</a>
          <a routerLink="skills"><span class="stepper" [ngStyle]="{'background-color': currentModule === 'skills'? 'rgb(71, 189, 35)' : 'grey' }">3</span>Skills</a>
          <a routerLink="work"><span class="stepper" [ngStyle]="{'background-color': currentModule === 'work'? 'rgb(71, 189, 35)' : 'grey' }">4</span>Work Experience</a>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>

